.cast {
  width: 150px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 3px var(--border-color);
  overflow: hidden;
  flex-shrink: 0;
}
.dark .cast {
  background: rgba(30, 30, 30, 0.8);
}

.cast-info {
  width: 100%;
  text-wrap: nowrap;
  padding: 0 5px;
}

.cast .cast-info p {
  text-overflow: ellipsis;
  overflow: hidden;
  background: transparent;
}

.dark .cast .cast-info p {
  background: transparent;
}

.cast img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .cast {
    width: 200px;
  }
}
