.fav-btn-container {
  align-items: center;
  aspect-ratio: 1 / 1;
  background: lch(8.3% 11.47 279.96 / 0.5);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10%;
  top: 5%;
  width: 18%;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: 0.3s;
}

.fav-btn-container:hover {
  transform: scale(1.1);
}

.fav-btn-container .icon {
  width: 95%;
  aspect-ratio: 1 / 1;
}

/* @media screen and (min-width: 768px) {
  .fav-btn-container {
    top: 20px;
    right: 20px;
  }

} */
