@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: rgba(249, 250, 251, 0.9);
  --surface-color: #ffffff;
  --primary-color: #2563eb;
  --secondary-color: #1f2937;
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --accent-color: #f59e0b;
  --border-color: #e5e7eb;
}

body.dark {
  --bg-color: #121212;
  --surface-color: #1e1e1e;
  --primary-color: #2563eb;
  --secondary-color: #9ca3af;
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --accent-color: #fcd34d;
  --border-color: #2d2d2d;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}
