.navbar {
  height: 70px;
  background: var(--surface-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  z-index: 100;
  width: 100vw;
  padding: 0 30px 0 30px;
  position: fixed;
  gap: 20px;
  transition: 0.3s;
}

.logo {
  position: absolute;
  left: 30px;
  text-shadow: 0 0 3px var(--border-color);
  color: var(--text-primary);
}

.logo .colored {
  color: var(--primary-color);
}

.toggle-menu {
  position: absolute;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  right: 0;
  height: 100vh;
  background: rgba(156, 163, 175, 0.9);
  padding: 90px 50px 20px;
  transition: 0.5s;
  gap: 20px;
  top: -100vh;
}

.expanded .toggle-menu {
  top: 0;
}

.dark .toggle-menu {
  background: rgba(17, 24, 39, 0.9);
}

.close-btn {
  height: 70px;
  background: var(--surface-color);
  transition: 0.5s;
  color: var(--text-secondary);
  background: transparent;
  position: absolute;
  right: 75px;
  top: 0;
  transform: rotateZ(-180deg);
}

.expanded .close-btn {
  transform: rotateZ(180deg);
}

.menu-btn {
  color: var(--text-secondary);
  background: transparent;
  transform: rotateZ(-180deg);
  transition: 0.5s;
}

.expanded .menu-btn {
  transform: rotateZ(180deg);
  color: transparent;
}

.close-btn:hover,
.menu-btn:hover {
  color: var(--text-primary);
}

.navigations {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.navigations li {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: capitalize;
}

.navigations li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.search-movies {
  width: auto;
  background: var(--surface-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 6px;
  box-shadow: 0 0 3px var(--border-color);
}

.search-movies:hover,
.search-movies:focus-within,
.search-movies:has(input:valid) {
  border: 2px solid var(--primary-color);
}

.search-movies button {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary);
}

.search-movies button:hover {
  color: var(--text-primary);
  transform: scale(1.1);
}

.search-movies input {
  width: 150px;
  transition: 0.3s;
  background: transparent;
  outline: none;
  border: none;
  color: var(--text-color);
}

.search-movies:hover input {
  width: 150px;
}

.search-movies input:focus,
.search-movies input:valid {
  width: 150px;
}

.mode {
  height: 100%;
  background: transparent;
  z-index: 10;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  transition: 0.3s;
  transform: translateY(3px);
}

.mode:hover {
  color: var(--text-primary);
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 30px;
    gap: 30px;
    height: 85px;
  }

  .logo {
    left: 30px;
  }

  .close-btn,
  .menu-btn {
    display: none;
  }

  .toggle-menu {
    position: relative;
    width: auto;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0;
    background: transparent;
    transition: none;
  }

  .dark .toggle-menu {
    background: transparent;
  }

  .navigations {
    flex-direction: row;
    align-items: center;
    font-size: 16px;
  }

  .mode {
    transform: none;
  }

  .search-movies input {
    width: 0;
  }
}
